body {
    background-color: #303030;
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    user-select: none;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

/*
transparent, transparent, transparent, szín
*/

.box::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url("gaspar.jfif");
    background-size: cover;
    animation: rotate 2s linear infinite;
}
/*
.box::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-image: url("gaspar.jfif");
    background-size: cover;
    animation: rotate 2s linear infinite;
    animation-delay: -1s;
}
*/
.box span {
    position: absolute;
    inset: 50px;
    border-radius: 16px;
    background-image: url("gaspar.jfif");
    background-size: cover;
    z-index: 2;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
