<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
    <title>Címlap</title>
</head>
    <body>
       <div class="container">
            <h1>Üdv a címlapon!</h1>
            <p><a href="./termeklista" class="btn btn-outline-primary btn-sm">Terméklista</a></p> 
       </div>
    </body>
</html>